<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h1><%= question.title %></h1>
    <br />
    <p><%= question.description %></p>
    <hr />
  </div>
</body>
<%- include ('partials/footer.ejs') %>
